<div class="container" style="margin-top: 3%;">
        <h3>Personas</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombres</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Edad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios" class="text-center">
                        <td>{{usuario.idPersona}}</td>
                        <td>{{usuario.nombres}}</td>
                        <td>{{usuario.apellidoPaterno}}</td>
                        <td>{{usuario.apellidoMaterno}}</td>
                        <td>{{usuario.edad}}</td>
                        <td>
                            <button (click)="Editar(usuario)" class="btn btn-warning btn-sm">Editar</button>
                            &nbsp;
                            <button (click)="Eliminar()"class="btn btn-danger btn-sm">Borrar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
</div>
