<div class="container">
    <h2>Id del Mensaje:{{mensaje.idMensaje}}</h2>
    <div class="card">
        <div class="card-header">{{mensaje.cabecera}}</div>
        <div class="card-body">{{mensaje.cuerpo1}}</div>
        <div class="card-footer">{{mensaje.cuerpo2}}</div>
    </div>
</div>