<div class="container">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <form action="#">
            <div class="form-group">
                <label for="names">Nombre(s):</label>
                <input type="text" class="form-control" id="namesEdit" required>
            </div>
            <div class="form-group">
                <label for="apellidoPaterno">Apellido paterno:</label>
                <input type="text" class="form-control" id="apellidoPaternoEdit"
                    required>
            </div>
            <button (click)="EliminarUsuario()" class="btn btn-danger">Borrar Datos</button>
        </form>
    </div>
    <div class="col-sm-1"></div>
</div>