<div class="container-fluid">
    <h2>Id del usuario: {{userModel.id}}</h2>
    <hr/>
    <form #userForm="ngForm">
        <small class="text-success" [class.d-none]="!userForm.valid">Datos completos</small>
        <small class="text-danger" [class.d-none]="userForm.valid">Tus Datos son Incompletos</small>
        <!--{{userForm.valid}}-->
        <div class="form-group">
            <label for="cmpNames">Nombre(s):</label>
            <input type="text" class="form-control" #cmp_nombres="ngModel" [(ngModel)]="userModel.nombres" id="cmpNames"
                name="cmpNames" required>
        </div>
        <div class="form-group">
            <label for="cmpApePat">Apellido Paterno:</label>
            <input type="text" class="form-control" [(ngModel)]="userModel.apellidoPaterno" id="cmpApePat"
                name="cmpApePat" required>
        </div>
        <div class="form-group">
            <label for="cmpApeMat">Apellido Materno:</label>
            <input type="text" class="form-control" [(ngModel)]="userModel.apellidoMaterno" id="cmpApeMat"
                name="cmpApeMat">
        </div>
        <div class="form-group">
            <label for="cmpEmail">Email:</label>
            <input type="email"  #cmp_email="ngModel" class="form-control" [(ngModel)]="userModel.email" id="cmpEmail"
                name="cmpEmail">
        </div>
        <div class="form-group">
            <label for="cmpEdad">Edad:</label>
            <input type="number" class="form-control" #edad="ngModel" pattern="^\d{2}$"
            [(ngModel)]="userModel.edad" min="12" max="99" id="cmpEdad" name="cmpEdad">
        </div>

        <div *ngIf="edad.errors && edad.invalid || edad.touched">
            <small class="text-danger" *ngIf="edad.errors.required">Edad requerida</small>
            <small class="text-danger" *ngIf="edad.errors.pattern">Edad debe ser dos digitos</small>
        </div>

        <div class="form-group">
            <label for="cmpPwd">Password:</label>
            <input type="password" class="form-control" #password="ngModel" [(ngModel)]="userModel.password" 
            id="cmpPwd" name="cmpPwd">
        </div>
        <div *ngIf="password.errors && password.invalid || password.touched">
            <small class="text-danger" *ngIf="password.errors.required">Campo requerido</small>
        </div>
        <!--
        <div class="form-group">
            <select (blur)="validarOpcion(topic.value)" (change)="validarOpcion(topic.value)" name="topics" id="topics" #topic>
                <option value="default">Seleccionar una opci&oacute;n</option>
                <option *ngFor="let el of topics">{{el}}</option>
            </select><br/>
            <small class="text-danger" [class.d-none]="!topicsHasError || topic.untouched">Selecciona una opci&oacute;n</small>
        </div>
        
        <div class="form-group">
            <input type="text" class="form-control" name="nombre" id="name" [(ngModel)]="jsonPerson.nombre">
            <input type="text" class="form-control" name="ape" id="ape" [(ngModel)]="jsonPerson.apellido">
        </div>
        -->
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" [(ngModel)]="userModel.newsLetter" type="checkbox" name="Newsletter"> 
                Suscribir a Newsletter
            </label>
        </div>
        <div class="button-group">
            <button (click)="actualizarUsuario(userModel)" [disabled]="userForm.form.invalid" 
            class="btn btn-success btn-sm" style="margin: 1%;">
            Actualizar Datos
            </button>
            <button (click)="cancelar()" class="btn btn-warning btn-sm" style="margin: 1%;">
            Cancelar
            </button>
        </div>
        
    </form>
</div>
