<div class="container">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <form action="#">
            <div class="form-group">
                <label for="names">Nombre(s):</label>
                <input type="text" class="form-control" placeholder="Ingresa tu(s) nombre(s)" id="names" required>
            </div>
            <div class="form-group">
                <label for="apellidoPaterno">Apellido paterno:</label>
                <input type="text" class="form-control" placeholder="Ingresa tu primer Apellido" id="apellidoPaterno"
                    required>
            </div>
            <div class="form-group">
                <label for="apellidoMaterno">Apellido materno:</label>
                <input type="text" class="form-control" placeholder="Ingresa tu segundo Apellido" id="apellidoMaterno">
            </div>
            <div class="form-group">
                <label for="edad">Edad:</label>
                <input type="number" class="form-control" id="edad" required min="16" max="105">
            </div>
            <button (click)="GuardarDatos()" class="btn btn-primary">Guardar datos</button>
        </form>
    </div>
    <div class="col-sm-1"></div>
</div>