<div class="container-fluid">
    <h2>Id del usuario: {{userModel.id}}</h2>
    <hr/>
    <form #userForm="ngForm">
        <small class="text-success" [class.d-none]="!userForm.valid">Datos completos</small>
        <small class="text-danger" [class.d-none]="userForm.valid">Tus Datos son Incompletos</small>
        <!--{{userForm.valid}}-->
        <div class="form-group">
            <label for="cmpNames">Nombre(s):</label>
            <input type="text" class="form-control" #cmp_nombres="ngModel" [(ngModel)]="userModel.nombres" id="cmpNames"
                name="cmpNames" readonly>
        </div>
        <div class="form-group">
            <label for="cmpApePat">Apellido Paterno:</label>
            <input type="text" class="form-control" [(ngModel)]="userModel.apellidoPaterno" id="cmpApePat"
                name="cmpApePat" readonly>
        </div>
        <div class="form-group">
            <label for="cmpEmail">Email:</label>
            <input type="email"  #cmp_email="ngModel" class="form-control" [(ngModel)]="userModel.email" id="cmpEmail"
                name="cmpEmail" readonly>
        </div>
        <div class="button-group">
            <button (click)="BorrarUsuario(userModel)" [disabled]="userForm.form.invalid" 
            class="btn btn-danger btn-sm" style="margin: 1%;">
            Borrar Registro?
            </button>
            <button (click)="CancelarBorrado()" class="btn btn-warning btn-sm" style="margin: 1%;">
            Cancelar
            </button>
        </div>
        
    </form>
</div>

