<div class="container-fluid">
    {{RegisterUserForm.value | json}}
    <hr/>
    {{RegisterUserForm.valid}}

    <form #RegisterUserForm="ngForm">
        <div class="form-group">
            <label for="cmpNames">Nombre(s):</label>
            <input type="text" #cmpNombres="ngModel" [(ngModel)]="userModel.nombres" class="form-control" placeholder="Ingresa tu nombre" id="cmpNames"
                name="cmpNames" required>
        </div>
        <div *ngIf="cmpNombres.errors && cmpNombres.invalid">
            <small class="text-danger" *ngIf="cmpNombres.errors.required">Llena este campo por favor</small>
        </div>

        <div class="form-group">
            <label for="cmpApePat">Apellido Paterno:</label>
            <input type="text" class="form-control" [(ngModel)]="userModel.apellidoPaterno" placeholder="Agrega tu primer apellido" id="cmpApePat"
                name="cmpApePat" #cmp_ApePat="ngModel" required>
        </div>
        <div *ngIf="cmp_ApePat.errors && cmp_ApePat.invalid">
            <small class="text-danger" *ngIf="cmp_ApePat.errors.required">Llena este campo por favor</small>
        </div>

        <div class="form-group">
            <label for="cmpApeMat">Apellido Materno:</label>
            <input type="text" class="form-control" [(ngModel)]="userModel.apellidoMaterno" placeholder="Agrega tu segundo apellido" id="cmpApeMat"
                name="cmpApeMat">
        </div>
        <div class="form-group">
            <label for="cmpEmail">Email:</label>
            <input type="email" class="form-control" [(ngModel)]="userModel.email" placeholder="Agrega tu email" id="cmpEmail"
                name="cmpEmail" #cmp_Email="ngModel" required>
        </div>
        <div *ngIf="cmp_Email.errors && cmp_Email.invalid">
            <small class="text-danger" *ngIf="cmp_Email.errors.required">Llena este campo por favor</small>
        </div>

        <div class="form-group">
            <label for="cmpEdad">Edad:</label>
            <input type="number" class="form-control" #cmp_edad="ngModel" [(ngModel)]="userModel.edad"  min="12" max="99" 
            id="cmpEdad" name="cmpEdad" required>
        </div>
        <div *ngIf="cmp_edad.errors && cmp_edad.invalid">
            <small class="text-danger" [class.d-none]="cmp_edad.invalid" >Corrige tu edad a dos d&iacute;gitos</small>
        </div>
        <div class="form-group">
            <label for="cmpPwd">Password:</label>
            <input type="password" class="form-control" [(ngModel)]="userModel.password" placeholder="Agrega un password" 
            id="cmpPwd" name="cmpPwd" #cmpPassword="ngModel" required
            [class.is-invalid]="cmpPassword.invalid && cmpPassword.touched">
        </div>

        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" [(ngModel)]="userModel.newsLetter" type="checkbox" name="newsLetterSubscribe"> 
                Suscribirse a Noticias
            </label>
        </div>
        <!--
        <div ngModelGroup="direccion">
            <div class="form-group">
                <label for="cmpCalle">Calle</label>
                <input type="text" name="cmpCalle" id="cmpCalle" class="form-control" ngModel>
            </div>
            <div class="form-group">
                <label for="cmpCP">C&oacute;digo Postal</label>
                <input type="text" name="cmpCP" id="cmpCP" class="form-control" ngModel>
            </div>
        </div>
        -->

        <button [disabled]="RegisterUserForm.form.invalid" class="btn btn-info btn-sm" 
        (click)="enviarDatos()" style="margin: 1%;">
        Guardar Datos
        </button>
    </form>
</div>