<div class="container">
    <form class="form-inline" action="/action_page.php">
        <div class="form-group">
            <label for="idUser">Id de usuario a buscar:</label>
        <input type="text" class="form-control" #ID_user="ngModel" [(ngModel)]="usuario.id" id="idUser" placeholder="Enter ID" name="idUser">
        </div>
        <div class="form-group">
            &nbsp;&nbsp;<button (click)="getDataUser(usuario)" class="btn btn-success btn-sm">Buscar</button>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombres</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Edad</th>
                    <th>Correo electr&oacute;nico</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.nombres}}</td>
                    <td>{{usuario.apellidoPaterno}}</td>
                    <td>{{usuario.apellidoMaterno}}</td>
                    <td>{{usuario.edad}}</td>
                    <td>{{usuario.email}}</td>
                    <td>
                        <button (click)="_EditUser(usuario)" class="btn btn-warning btn-sm">Editar</button>
                        &nbsp;
                        <button (click)="_DeleteUser(usuario)"class="btn btn-danger btn-sm">Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
