<div class="container">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombres</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Edad</th>
                    <th>Correo electr&oacute;nico</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios" class="text-center">
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.nombres}}</td>
                    <td>{{usuario.apellidoPaterno}}</td>
                    <td>{{usuario.apellidoMaterno}}</td>
                    <td>{{usuario.edad}}</td>
                    <td>{{usuario.email}}</td>
                    <td>
                        <button (click)="Editar(usuario)" class="btn btn-warning btn-sm">Editar</button>
                        &nbsp;
                        <button (click)="Eliminar(usuario)"class="btn btn-danger btn-sm">Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>