<div class="container">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <form action="#">
            <div class="form-group">
                <label for="names">Nombre(s):</label>
                <input type="text" class="form-control" id="namesEdit" required>
            </div>
            <div class="form-group">
                <label for="apellidoPaterno">Apellido paterno:</label>
                <input type="text" class="form-control" id="apellidoPaternoEdit"
                    required>
            </div>
            <div class="form-group">
                <label for="apellidoMaterno">Apellido materno:</label>
                <input type="text" class="form-control" id="apellidoMaternoEdit">
            </div>
            <div class="form-group">
                <label for="edad">Edad:</label>
                <input type="number" class="form-control" id="edadEdit" required min="16" max="105">
            </div>
            <button (click)="ActualizarDatos()" class="btn btn-primary">Actualizar</button>
        </form>
    </div>
    <div class="col-sm-1"></div>
</div>