<div class="container">
    <h2><i class="fas fa-home"></i>Home</h2>
    <div class="card">
      <div class="card-body">
          <span>
              Bienvenido a Angular 9.1.3
          </span><br>
          <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel obcaecati ad, fuga doloremque at qui suscipit non nisi blanditiis necessitatibus repellat omnis iste repellendus beatae reiciendis cupiditate nam quam consequatur.
          </p>
      </div>
    </div>
  </div>
