<div class="content" role="main">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
      <img [src]="'assets/images/logoPC.jpg'" style="width:40px;" alt="logo">
    </a>
    <span class="navbar-text">
      Angular 01
    </span>
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <button class="btn btn-link" (click)="Home()"
        style="margin-left: 1%; width:max-content; font-size: small;"><i class="fas fa-home"></i>Inicio</button>
      </li>
      <li class="nav-item" *ngIf="!auth.isUserLoggedIn()">
        <button ng-hide="!auth.isUserLoggedIn()" class="btn btn-link btn-sm" (click)="Login(content)" 
        style="margin-left: 1%; width:max-content; font-size: small;"><i class="fas fa-address-card"></i>Login</button>
      </li>
      <li class="nav-item" *ngIf="!auth.isUserLoggedIn()">
        <button ng-hide="!auth.isUserLoggedIn()" class="btn btn-link" (click)="NuevoUsuario()"
        style="margin-left: 1%; width:max-content; font-size: small;"><i class="fas fa-user"></i>Registrarse</button>
      </li>
      <li class="nav-item" *ngIf="auth.isUserLoggedIn()">
        <button ng-hide="auth.isUserLoggedIn()" class="btn btn-link" (click)="EditarDatos()"
        style="margin-left: 1%; width:max-content; font-size: small;"><i class="fas fa-address-book"></i>Mostrar Datos</button>
      </li>
      <li class="nav-item" *ngIf="auth.isUserLoggedIn()">
        <button ng-hide="auth.isUserLoggedIn()" class="btn btn-link" (click)="ListarUsuarios()"
        style="margin-left: 1%; width:max-content; font-size: small;"><i class="fas fa-folder-open"></i>Listar Usuarios</button>
      </li>
      <li class="nav-item" *ngIf="auth.isUserLoggedIn()">
        <button ng-hide="auth.isUserLoggedIn()" class="btn btn-link" (click)="GetUserData()"
        style="margin-left: 1%; width:max-content; font-size: small;"><i class="fab fa-sistrix"></i>Buscar Usuario</button>
      </li>
      <li class="nav-item" *ngIf="auth.isUserLoggedIn()">
        <button ng-hide="auth.isUserLoggedIn()" class="btn btn-link" (click)="Mensaje()" 
        style="margin-left: 1%; width:max-content; font-size: small;"><i class='far fa-envelope'></i>Mensaje</button>
      </li>
      <li class="nav-item" *ngIf="auth.isUserLoggedIn()">
        <button ng-hide="auth.isUserLoggedIn()" class="btn btn-link" (click)="LogOut()" 
        style="margin-left: 1%; width:max-content; font-size: small;"><i class='far fa-window-close'></i>Cerrar Sesi&oacute;n</button>
      </li>
      <li>
        <ul class="nav justify-content-end">
          
        </ul>
      </li>
    </ul>
  </nav>
</div>
<!-- The Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ingresar</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-user"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Ingresa tu nombre de Usuario"
        #cmpUserName="ngModel" [(ngModel)]="loginUser.userName"
        [ngModelOptions]="{standalone: true}">

      </div>
      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-key"></i></span>
        </div>
        <input type="password" class="form-control" placeholder="Escribe tu Password"
        #cmpUserPwd="ngModel" [(ngModel)]="loginUser.pwd"
        [ngModelOptions]="{standalone: true}">
      </div>
      <div class="d-flex justify-content-left">
        <input type="checkbox">Remember Me
      </div>

      <div class="d-flex justify-content-left">
        <a href="#">Olvidaste tu password?</a>
      </div>
      <div class="d-flex justify-content-left">
        No tienes cuenta con nosotros? &nbsp; &nbsp; <a href="#">Registrate</a>
      </div>
      <div class="d-flex justify-content-left">

      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button (click)="LoginUser(loginUser)" class="btn login_btn btn-info btn-sm" style="margin: 1%;">
      Ingresar
    </button>
    <button type="button" class="btn btn-outline-dark btn-sm" (click)="modal.close('Save click')">
      Cancelar
    </button>
  </div>
</ng-template>

<hr>

<!--pre>{{ closeResult }}</!--pre-->



<router-outlet></router-outlet>